body {
  display: grid;
  grid-template-areas:
    "h h h"
    "n c c";
}

#titre {
  grid-area: h;
  font-size: xx-large;
  text-align: center;
  height: 2em;
}

.container {
  grid-area: c;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.petite-image {
  max-width: 400px;
  max-height: 400px;
}
