body {
  background: #6c373f;
  display: flex;
  justify-content: center;
}

#spade-container {
  width: 90vh;
  display: grid;
  place-items: center;
  grid-template-areas:
    "a1 . ."
    ". a2 ."
    ". . a3";
}

#spade1, #spade2, #spade3 {
    width: 100px;
}

#spade1 {
  grid-area: a1;
}

#spade2 {
  grid-area: a2;
}

#spade3 {
  grid-area: a3;
}
